/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
@import 'bootstrap';
@import url("https://use.fontawesome.com/releases/v5.15.0/css/all.css");

body {
    font-family: "Poppins",sans-serif; 
    font-size: 13px;
    line-height: 1.6;
    margin: 0;
    padding: 0 !important;
    box-sizing: border-box;
    font-weight: 400;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}
button {
    box-shadow: unset;
    border-style: unset;
}
.topbar {
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 60px;
    display: flex;
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 5%);
    border-bottom:1px solid #e6e6e6;
    z-index: 99;
    background: #fff;
}

.tleft {
    /* position: absolute; */
    display: flex;
    height: 100%;
    width: 240px;
    /* left: 0; */
    
}

.tright {
    position: absolute;
    display: flex;
    height: 100%;
    right: 0;
}

.topbar_profile {
    height: 100%;
}

.topbar_avatar {
    height: 100%;
    display: flex;
    position: relative;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 0 15px;
    transition: all .3s;
}

.topbar_avatar *{
    margin: auto 0;
}

.topbar_avatar_img {
    border-radius: 50%;
    height: 36px;
    width: 36px;

}

.topbar_avatar p {
    color: #9e9e9e;
    margin-left: 10px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.topbar_icon {
    margin-left: 8px;
    height: 18px;
    margin-top: auto;
    fill: #9e9e9e;
}

.sidebar {
    position: fixed;
    bottom: 0;
    z-index: 99;
    /* height: 100vh; */
    width: 240px;
    box-shadow: 0 1px 30px 1px rgb(0 0 0 / 11%);
    padding-top: 60px;
    transition: transform .3s,-webkit-transform .3s;
    background-color: #3d4350;
    background-image: linear-gradient(315deg, #434c61 0%, #3d4350 74%);
    color:#fff
}

.logo{
    width:200px;
}


.sidebar_content {
    padding-top: 15px;
    height: calc(100vh - 8px);
    overflow: auto;
}

.sidebar_block {
    padding: 45px 0;
    /* height: 100vh; */
    /* overflow: hidden; */
}

.sidebar_link {
    height: 36px;
    width: 240px;
    transition: all .3s;
    position: relative;
    cursor: pointer;
    display: flex;
    padding: 11px 20px;
    /* overflow: hidden; */
    background: transparent;
    border: none;
    color: #646777;
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
          transition: transform 0.8s ease-in-out;
}

.sidebar_link_icon {
    font-size: 15px;
    line-height: 13px;
    margin-top: -3px !important;
    color: #fff;
    margin-right: 10px;
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
          transition: transform 0.8s ease-in-out;
}
/* .sidebar_link:hover .sidebar_link_icon {
    transform: rotate(360deg) !important;
} */


.sidebar_link_title {
    position: absolute;
    width: 180px;
    transition: left .3s;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    left: 43px;
    color:#fff
}

.sidebar_category_icon {
    position: absolute;
    font-size: 8px;
    line-height: 14px !important;
    opacity: 1;
    transition: opacity .5s .2s,transform .3s,-webkit-transform .3s;
    color: #fff;
    right: 15px;
    /* transform : rotate(90deg); */
}

.sidebar_submenu {
    /*padding: 15px 0;*/
    transition: height .5s 0s,padding .5s 0s,opacity .4s .1s;
    -webkit-transition: all 0.5s ease-out;
    background-color: transparent;
    -webkit-box-shadow: inset 0px 1px 20px 8px rgba(46, 50, 50, 0.5);
    -moz-box-shadow:    inset 0px 1px 20px 8px rgba(46, 50, 50, 0.5);
    box-shadow:         inset 0px 1px 20px 8px rgba(46, 50, 50, 0.5);
    border-bottom: 1px solid var(--color-inverse-border);
}
.sidebar_submenu_left {
    /*padding: 15px 0;*/
    transition: height .5s 0s,padding .5s 0s,opacity .4s .1s;
    -webkit-transition: all 0.5s ease-out;
    background-color: forestgreen;
    border-bottom: 1px solid var(--color-inverse-border);
    position: absolute;
    width: 100%;
    left: 120px;
    float: left;
    display: block;
    z-index:9999999;
    
}

.sidebar_submenu .sidebar_link {
    /*padding-left: 0px;*/
}

.main {
    background-color: #f2f4f7;
    height: 100vh;
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow-y: auto;
}

.main_wrapper {
    margin: auto;
    /* -webkit-box-shadow: 5px 5px 15px 5px #FFFFFF; 
    box-shadow: 2px 2px 10px 2px #FFFFFF; */
}

.main_card {
    padding: 50px 60px;
    max-width: 520px;
    background-color: #FFF;
    
}

.main_head {
    /* border-left: 4px solid #216ba5; */
    /* padding-left: 10px; */
    margin-bottom: 10px;
    text-align: center;
}

h3.login_title {
    font-size: 24px;
    line-height: 32px;
    color: #646777;
}

h4.subhead {
    color: #999;
    font-size: 12px;
    line-height: 16px;
}
h5.subhead {
    font-size: 12px !important;
    line-height: 18px !important;
    opacity: .7 !important;
    color: #999 !important;
    margin-top: 13px !important;
    font-weight: 400 !important;
    float: right;
    padding-bottom: 20px;
    

}

.main_form {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.main_form_group {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.main_label {
    color: #646777;
    margin-bottom: 4px;
    display: inline-block;
}

.main_form_field {
    width: 100%;
    display: flex;
    margin: auto;
}

.main_form_icon {
    padding: 6px;
    height: 38px;
    border:  1px solid #f2f4f7;
    background: #f2f4f7;
}

.main_form input, form input, form select, form textarea {
    width: 100%;
    padding: 18px 10px;
    font-size: 12px;
    height: 32px;
    transition: border .3s;
    background: transparent;
    color: #646777;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
}

.form select {
    padding: 8px 10px;
}

.main_forget_password {
    position: absolute;
    font-size: 11px;
    line-height: 15px;
    bottom: -18px;
    right: 0;
    color: #3bb78f;
}

.main_forget_password a {
    color: black;
}

.remember_btn {
    display: flex;
    cursor: pointer;
    margin-bottom: .5rem;
}

.main_form_checkbox {
    display: none;
}
.main_form_custom {
    border: 1px solid #ddd;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 3px;
}

.main_form_icon svg {
    fill: #999;
    width: 18px;
    height: 18px;
}

.main_form_custom svg {
    height: 16px;
    width: 16px;
    margin-top: -6px;
    fill: #999;
}

.main_form_text {
    padding-left: 28px;
    line-height: 18px;
    padding-top: 2px;
    color: #646777;
}

.btn_form_group {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 10px auto;
}
.btn_submit{
    padding:7px 0px;
    background-color: #2dc5a2;
    background-image: linear-gradient(315deg, #33bd9c 0%, #2dc5a2 74%);
    border:none
}
.btn_close{
    padding:7px 0px;
    background-color: #f16690;
    background-image: linear-gradient(315deg, #f1749a 0%, #f16690 74%);
    border:none
}

.btn_close:hover{
    padding:7px 0px;
    background-color: #ca597b;
    border:none
}

.btn_submit:hover{
    background-color: #02756a;
    background-image: linear-gradient(315deg, #02756a 0%, #02756a 74%);
    border:none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn_signin {
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    overflow: hidden;
    background-color: #00887a;
    background-image: linear-gradient(315deg, #019c8c 0%, #00887a 74%);
    border-color: #3bb78f;
    color: #FFF;
    line-height: 1.5;
    font-weight: 400;
    /* display: inline-block; */
    width: 100%;
    
}
.btn_signin:hover{
    background-color: #02756a;
    background-image: linear-gradient(315deg, #02756a 0%, #02756a 74%);
    border:none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container_main {
    padding-left: 250px;
    padding-top: 72px;
    min-height: 100vh;
    background: #fff;
}

.page-title {
    /*font-family:"Lato",sans-serif; */
    font-family:"Open Sans",sans-serif;
    /*font-family:"Roboto",sans-serif;*/
    color: #646777;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin: 5px 0 10px 0;
}
.card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
}

.main-card {
    /*padding-bottom: 30px !important;*/
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .1);
}

/* .card_title {
    margin-bottom: 30px;
} */

.card_title h5 {
    font-size: 13px;
    color: #646777;
    font-weight: 700;
    line-height: 18px;
}
.card-body {
    background-color: #fff;
    height: 100%;
    border-radius: 5px;
    
}
.card-header{
background-color: #ecf0f3;
font-size:15px;
width: 100%;
text-transform: capitalize;
font-weight: 500;
font-family:"Open Sans",sans-serif; 
}
.card-header:after{
    transition: rotate(180deg);
}


.form_group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.inline_form {
    display: flex;
    align-items: center; 
    margin: 0 0 20px;
}

.form_group_inline {
    width: 100%;
}

.form_group_inline .form_group_field {
    padding: 5px 20px 0 0;
    width: 100%;
}

.form_group_inline:last-child .form_group_field {
    padding: 5px 0 0;
}

.form_group.last {
    margin-bottom: 30px;
}

.form_group_label {
    width: 120px;
    color: #646777;
    max-height: 32px;
    line-height: 18px;
    margin: auto 0;
    font-weight: 100;
    font-size: 12px;
}

.form_group_field {
    padding-left: 20px;
    width: calc(100% - 120px);
    display: flex;
    /* margin: auto; */
}

/* .form_group_holder {
    width: calc(100% - 120px - 10px);
    margin: unset;
} */
fieldset {
    border: 1px solid #e6e6e6;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
            border-radius: 5px;
}
legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:inherit;
    padding:0 10px;
    border-bottom:none;
    margin-top:-11px;
    margin-bottom: 13px;
    background-color: #FFF;
}

.SubmitD {
    background-color :rgb(44, 197,162) !important;
    color: white !important;
}
.ResetD {
    background-color :rgb(241, 103,144) !important;
    color: white !important;
}

.SaveD {
    background-color :rgb(255, 173,68) !important;
    color: white !important;
}
.form_group_holder select {
    width: 95%;
}

/* .form_group_holder button {
    width: 10%;
    background-color: #77a6f7;
} */

.form-button {
    margin: 0 10px;
    width: 100%;
}

/* .form input {
    width: 100%;
    padding: 5px 10;
} */
/* .tab-content > .tab-pane{
    border-top: 1px solid #686df4;
} */

.form .nav {
    width: 50%;
    justify-content: space-around;
    font-family:"Lato",sans-serif;
    text-transform: capitalize;
}

.form .nav-link {
    flex: 1;
    text-align: center;
    /* background: #686df4;
    color: #fff; */
    /* -webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
-webkit-box-shadow: inset 0px 3px 12px 3px rgba(0,0,0,0.28); 
box-shadow: inset 0px 1px 12px 1px rgba(0,0,0,0.15); */
font-family: 'Open Sans' , sans-serif;

}

/* .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    border-top: 1px solid #686df4;
    border-right: 1px double #686df4;
    border-left: 1px solid #686df4;
    
}

.form .nav-link.active {
    background-color: #fff;
    color: #686df4;
    box-shadow: none;
}


.nav-tabs .nav-link {
    border-color: unset;
    border: none;
    font-size: 15px;
    
} */

.nav-tabs {
    border-bottom: none;

}

.muitab {
    width: 100%;
    overflow-y: auto;
    height: 100%;
    padding: 24px;
}

.MuiTabs-flexContainerVertical button {
    font-size: 0.75rem;
    align-items: start;
    text-align: left;
}
.MuiTabScrollButton-vertical {
    height: 30px !important;
}



.form .card {
    /* border: 1px solid rgba(0, 0, 0, 0.05); */
    border-radius: 0;
}

/* .accordion {
    border: 1px solid rgba(0, 0, 0, 0.03);
} */
.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'FontAwesome';
    content:"\f146";
    float: right;
    color: inherit;
}
.panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
   transform: rotate(180deg);
}

.rc_holder {
    text-transform: uppercase;
}

.select__control {
    border: 1px solid #f2f4f7 !important;
}

.select__input {
    font-size: 12px !important;
    color: #646777 !important;
}

.topbar_dropdown_wrap {
    position: absolute;
    min-width: 210px;
    right: 0;
    z-index: 101;
}

.topbar_dropdown {
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 5%);
    width: 100%;
    border: none;
    border-radius: 0;
}

.sidebar_block .topbar_link, .topbar_dropdown .topbar_link {
    display: flex;
    transition: all .3s;
    width: 100%;
    position: relative;
    cursor: pointer;
    color: #fff;
}

.topbar_dropdown .topbar_link {
    padding: 9px 49px 9px 20px;
    height: 32px;
}

.topbar_link:hover {
    background-color: rgba(243, 243, 243, 0.3);
    color: #3f3f3f;
}

.topbar_link::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background: #216ba5;
    opacity: 0;
    transition: all .3s;
    left: 0;
}

.topbar_link:hover::before {
    opacity: 1;
}

.topbar_link_title {
    display: flex;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

.sidebar_link_active {
    color: #02756a !important;
    background: rgba(243, 243, 243, 0.3);
}

.sidebar_link_active::before {
    opacity: 1;
}

.add_doc_form {
    background: #77a6f7;
    color: white;
    border-radius: 5px;
    padding: 2px 8px;
    margin: 10px 0;
}
.add_doc_form i {
    font-weight: 800;
    font-size: 14px;
}
.errors_wrap {
    color: red;
    /* padding-left: 140px; */
    font-size: 12px;
}

.h_1 {
    left: 10px;
}

.h_2 {
    left: 43px;
}

.h_3 {
    left: 10px;
}

.basic {
    width: 100%;
}

.basic__input-container {
    padding: 0 !important;
    margin: 0 !important;
    
    text-transform: uppercase;
}

.topbarList {
    list-style: none;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.topbarList li {
    display: inline;
    float: left;
    padding-left: 20px;
    cursor: pointer;
}


.underTopBarList li {
    display: block !important;
    float: unset;
}

.multilevelMenu {
    /* display: flex;
    align-items: center; */
    height: 100%;
    padding-left: 20px;
}
.multilevelMenu ul {
    list-style: none;
    height: 100%;
}
.multilevelMenu li + li::before {
	content: "|";
	float: left;
	width: 2px;
	line-height: 36px;
	color: #2980b9;
	
}

.multilevelMenu .submenu li + li::before {
	content: " ";
	float: left;
	width: 2px;
	line-height: 36px;
	color: #216ba5;
	
}
  
  .multilevelMenu ul li {
    display: block;
    position: relative;
    float: left;
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
  }

 .submenu li:hover{
    border-bottom: none;
    background: #f8fbff;
    
}
  .multilevelMenu li ul {
    display: none;
    position: absolute;
    top: 58px;
    
  }
  
  .multilevelMenu ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
     color: #216ba5;
  }

  .multilevelMenu ul li a:after > ul{
       content: 'xdfsdf';
  }

  .multilevelMenu .main-navigation li ul li:hover > a{
    background: #f8fbff;
    padding-left: 10px;
    
  }
  .multilevelMenu .main-navigation li ul li ul{
    background: transparent;
    color:#fff ;
    height: 125%;
  }

  /* .multilevelMenu ul li a:hover {
    background: #151e27;
  } */

  .multilevelMenu li:hover > ul {
    display: block;
    position: absolute;
  }
  
  .multilevelMenu li:hover li {
    float: none;
  }
  .multilevelMenu ul ul ul {
    left: 100%;
    top: 0;
  }
  .multilevelMenu ul:before,
  .multilevelMenu ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  
.multilevelMenu ul:after { clear: both; }
.multilevelMenu li > a:after {  font-family: "Font Awesome 5 Free"; content: '\f0d7'; font-weight: 900; } 
.multilevelMenu li > a:only-child:after { content: ''; }
.multilevelMenu li ul li > a:after { content: '\f0da';} 
.multilevelMenu li ul li > a:only-child:after { content: ''; }
.multilevelMenu li ul li:last-child{
    border-bottom: 1px solid #216ba5;
}
.multilevelMenu .main-navigation li ul li {
    border-top: 0;
    
    transition: padding-left 2s;
    height: 81%;
}
.multilevelMenu ul li a::after > ul{
    content: ' \00A7';
}
.submenu {
    width: 200px;
    background-color: white;
    color: black;
}
.submenu li {
    background-color: white ;
}

.submenu li a {
    color: black;
}
  
@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1630px !important;
    }
  }

.dash-table .table{
    border-collapse: collapse;
    margin: 75px 0 40px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
}
.dash-table .table thead tr{
     color: #000;
     background-color: #edf0f3;
     text-align: left;
     font-weight: bold;
}
.dash-table .table th,
.dash-table .table td{
    padding:12px 15px;
}
.dash-table .table tbody tr{
    border-bottom: 1px solid rgba(209, 226, 255, 0.5);
}
.dash-table .table tbody tr:nth-last-of-type(even){
    background-color: #fbfbfb;
}
.dash-table .table > :not(:first-child){
    border-top: none;
}

.dash-table .table tbody tr:last-of-type{
   border-bottom: 2px solid #d3e3fc;
}

.update_table{
    color:#00887a;
}
.pagination{
    display:block;
    margin-top: -20px;

}
.btn_table{
    background:transparent;
    color:#00887a;
    font-size: 15px;
    padding: 3px;
    vertical-align: middle;
}
.pagination-button{
    background:transparent;
    font-size:16px;
    padding: 6px;
    vertical-align: middle;
}
*, *::before, *::after{
    vertical-align: middle;
}

.inner-addon {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  /* align glyph */
  .left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 16px; top:-4px}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }

  .form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.15);
} 

.head-table{
    font-family:"Open Sans",sans-serif; 
    font-weight: 600;
    color: #2c4166;
    text-transform: capitalize;
}

.dash-table-wrap {
    margin-bottom: 50px; 
    position: relative 
}

.head-table::before{
    position: absolute;
    top: 1px;
    left: -15px;
    content: '';
    width: 3px;
    height: 20px;
    /* background: rgb(115, 176, 242); */
    /* background-color: #2c4166; */
}
.dash-table .dash-table-wrap:nth-child(1) h5::before {
    background-color: #2c4166;
}
.dash-table .dash-table-wrap:nth-child(2) h5::before {
    background-color: #ff6333;
}
.dash-table .dash-table-wrap:nth-child(3) h5::before {
    background-color: #2196f3;
}
.dash-table .dash-table-wrap:nth-child(4) h5::before {
    background-color: #cddc39;
}
.dash-table .dash-table-wrap:nth-child(5) h5::before {
    background-color: #76ff03;
}
.dash-table .dash-table-wrap:nth-child(6) h5::before {
    background-color: #9c27b0;
}
.dash-table .dash-table-wrap:nth-child(7) h5::before {
    background-color: #d500f9;
}
.dash-table .dash-table-wrap:nth-child(8) h5::before {
    background-color: #009688;
}

.dashpaper {
   height: 50px;
   padding: 8px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.heading-show {
    font-size: 1.3rem;
    line-height: 1.3;
    letter-spacing: 0.1px;
    color: #1A2027;
    font-weight: 700;
    margin: 20px 0;
    padding: 0 12px;
}

.showTable {
    width: 100%;
    margin-top: 20px;
}
.showTable th {
    padding: 12px;
    color: #1A2027;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-family: "IBM Plex Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width: 50%;
}
.showTable td {
    border-bottom: 1px solid #E7EBF0;
    padding: 12px;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #3E5060;
    font-weight: 400;
    font-family: "IBM Plex Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width: 50%;
}

.sous-heading-show {
    font-size: 1.1rem;
    line-height: 1.1;
    letter-spacing: 0.1px;
    color: #2196f3;
    font-weight: 500;
    /* padding: 0 12px; */
    margin: 20px 0 20px;
}

.sous-container {
    padding: 0 20px;
}


/* Mui Tabs */


