/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
@import 'bootstrap';

body {
    /* font-family: "Roboto",sans-serif; */
    font-size: 13px;
    line-height: 1.6;
    margin: 0;
    padding: 0 !important;
    box-sizing: border-box;
    font-weight: 400;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}
button {
    box-shadow: unset;
    border-style: unset;
}
.topbar {
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 60px;
    display: flex;
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 5%);
    z-index: 101;
    background: #70bbfd;
}

.tleft {
    position: absolute;
    display: flex;
    height: 100%;
    width: 50%;
    left: 0;
}

.tright {
    position: absolute;
    display: flex;
    height: 100%;
    right: 0;
}

.topbar_profile {
    height: 100%;
}

.topbar_avatar {
    height: 100%;
    display: flex;
    position: relative;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 0 15px;
    transition: all .3s;
}

.topbar_avatar *{
    margin: auto 0;
}

.topbar_avatar_img {
    border-radius: 50%;
    height: 36px;
    width: 36px;

}

.topbar_avatar p {
    color: #fff;
    margin-left: 10px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.topbar_icon {
    margin-left: 8px;
    height: 18px;
    margin-top: auto;
    fill: #fff;
}

.sidebar {
    position: fixed;
    bottom: 0;
    z-index: 99;
    /* height: 100vh; */
    width: 240px;
    box-shadow: 0 1px 30px 1px rgb(0 0 0 / 11%);
    padding-top: 60px;
    transition: transform .3s,-webkit-transform .3s;
    background: #fff;
}


.sidebar_content {
    padding-top: 15px;
    height: calc(100vh - 60px);
    overflow: auto;
}

.sidebar_block {
    padding: 15px 0;
    /* height: 100vh; */
    /* overflow: hidden; */
}

.sidebar_link {
    height: 36px;
    width: 240px;
    transition: all .3s;
    position: relative;
    cursor: pointer;
    display: flex;
    padding: 11px 20px;
    /* overflow: hidden; */
    background: transparent;
    border: none;
    color: #646777;
}

.sidebar_link_icon {
    font-size: 13px;
    line-height: 13px;
    color: #bbbbc2;
    margin-right: 10px;
}

.sidebar_link_title {
    position: absolute;
    width: 180px;
    transition: left .3s;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    left: 43px;
}

.sidebar_category_icon {
    position: absolute;
    font-size: 10px;
    line-height: 14px;
    opacity: 1;
    transition: opacity .5s .2s,transform .3s,-webkit-transform .3s;
    color: #787985;
    right: 15px;
    /* transform : rotate(90deg); */
}

.sidebar_submenu {
    padding: 15px 0;
    transition: height .5s 0s,padding .5s 0s,opacity .4s .1s;
}

.sidebar_submenu .sidebar_link {
    padding-left: 43px;
}

.main {
    background-color: #f2f4f7;
    height: 100vh;
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow-y: auto;
}

.main_wrapper {
    margin: auto;
    padding: 10px;
}

.main_card {
    padding: 50px 60px;
    max-width: 520px;
    width: 100%;
    background-color: #FFF;
}

.main_head {
    border-left: 4px solid #70bbfd;
    padding-left: 10px;
    margin-bottom: 30px;
}

h3.login_title {
    font-size: 24px;
    line-height: 32px;
    color: #646777;
}

h4.subhead {
    color: #999;
    font-size: 12px;
    line-height: 16px;
}
h5.subhead {
    font-size: 12px !important;
    line-height: 18px !important;
    opacity: .7 !important;
    color: #999 !important;
    margin-top: 3px !important;
    font-weight: 400 !important;
}

.main_form {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.main_form_group {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.main_label {
    color: #646777;
    margin-bottom: 4px;
    display: inline-block;
}

.main_form_field {
    width: 100%;
    display: flex;
    margin: auto;
}

.main_form_icon {
    padding: 6px;
    height: 32px;
    border:  1px solid #f2f4f7;
    background: #f2f4f7;
}

.main_form input, form input, form select, form textarea {
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
    height: 32px;
    transition: border .3s;
    background: transparent;
    color: #646777;
    border: 1px solid #f2f4f7;
}

.main_forget_password {
    position: absolute;
    font-size: 11px;
    line-height: 15px;
    bottom: -18px;
    right: 0;
    color: #70bbfd;
}

.main_forget_password a {
    color: #70bbfd;
}

.remember_btn {
    display: flex;
    cursor: pointer;
    margin-bottom: .5rem;
}

.main_form_checkbox {
    display: none;
}
.main_form_custom {
    border: 1px solid #ddd;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 3px;
}

.main_form_icon svg {
    fill: #999;
    width: 18px;
    height: 18px;
}

.main_form_custom svg {
    height: 16px;
    width: 16px;
    margin-top: -6px;
    fill: #999;
}

.main_form_text {
    padding-left: 28px;
    line-height: 18px;
    padding-top: 2px;
    color: #646777;
}

.btn_form_group {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: center;
    margin: 10px auto;
}

.btn_signin {
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 14px;
    overflow: hidden;
    background-color: #70bbfd;
    border-color: #70bbfd;
    color: #FFF;
    line-height: 1.5;
    font-weight: 400;
    /* display: inline-block; */
    width: 100%;
    
}

.container_main {
    padding-left: 250px;
    padding-top: 90px;
    min-height: 100vh;
    background: #f2f4f7;
}

.page-title {
    color: #646777;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
}
.card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
}

.main-card {
    padding-bottom: 30px !important;
}

/* .card_title {
    margin-bottom: 30px;
} */

.card_title h5 {
    font-size: 13px;
    color: #646777;
    font-weight: 700;
    line-height: 18px;
}
.card-body {
    background-color: #fff;
    height: 100%;
    border-radius: 5px;
}

.form_group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.form_group.last {
    margin-bottom: 30px;
}

.form_group_label {
    width: 120px;
    color: #646777;
    max-height: 32px;
    line-height: 18px;
    margin: auto 0;
}

.form_group_field {
    padding-left: 20px;
    width: calc(100% - 120px);
    display: flex;
    /* margin: auto; */
}

/* .form_group_holder {
    width: calc(100% - 120px - 10px);
    margin: unset;
} */

.form_group_holder select {
    width: 95%;
}

.form_group_holder button {
    width: 5%;
}

.form-button {
    margin: 10px 0;
}

/* .form input {
    width: 100%;
    padding: 5px 10;
} */

.form .nav {
    width: 100%;
    justify-content: space-around;
}

.form .nav-link {
    flex: 1;
    text-align: center;
    background: #fafbfe;
    color: #646777;
    border-radius: 0.25rem;
}

.form .nav-link.active {
    background: #70bbfd;
    color: #fff;
}
.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    border-color: unset;
    border: none;
}

.form .card {
    /* border: 1px solid rgba(0, 0, 0, 0.05); */
    border-radius: 0;
}

/* .accordion {
    border: 1px solid rgba(0, 0, 0, 0.03);
} */

.rc_holder {
    text-transform: uppercase;
}

.select__control {
    border: 1px solid #f2f4f7 !important;
}

.select__input {
    font-size: 12px !important;
    color: #646777 !important;
}

.topbar_dropdown_wrap {
    position: absolute;
    min-width: 210px;
    right: 0;
    z-index: 101;
}

.topbar_dropdown {
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 5%);
    width: 100%;
    border: none;
    border-radius: 0;
}

.sidebar_block .topbar_link, .topbar_dropdown .topbar_link {
    display: flex;
    transition: all .3s;
    width: 100%;
    position: relative;
    cursor: pointer;
    color: #646777;
}

.topbar_dropdown .topbar_link {
    padding: 9px 49px 9px 20px;
    height: 32px;
}

.topbar_link:hover {
    background-color: #fafbfe;
    color: #646777;
}

.topbar_link::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background: #4ce1b6;
    opacity: 0;
    transition: all .3s;
    left: 0;
}

.topbar_link:hover::before {
    opacity: 1;
}

.topbar_link_title {
    display: flex;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

.sidebar_link_active {
    background: #f0f8ff;
}

.sidebar_link_active::before {
    opacity: 1;
}

.add_doc_form {
    background: #4ce1b6;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 10px;
}

.errors_wrap {
    color: red;
    padding-left: 140px;
    font-size: 12px;
}

.h_1 {
    left: 53px;
}

.h_2 {
    left: 60px;
}

.h_3 {
    left: 70px;
}

.basic {
    width: 100%;
}

.basic__input-container {
    padding: 0 !important;
    margin: 0 !important;
    
    text-transform: uppercase;
}


@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1630px !important;
    }
  }